#header-nav {
    background-color: darkcyan;
    border-radius: 0;
    border: 0;
    box-shadow: 0 0 10px;
}
.navbar-default .navbar-brand {
    margin: 15px;
    color: white;
    font-size: 2em;
}

.navbar-toggle {
    margin: 20px;
}

.header {
    font-weight: bold;
    font-size: 120%;
}

#chicken, #beef, #sushi {
    background-color: lightgray;
    padding: 2px 15px 15px 15px;
    text-align: left;
    font-size: 15px;
    margin: 5px;
    box-shadow: inset 0px 0px 10px;
    height: 100%;
    overflow: hidden;
}

#food {
    margin: 15px;
}

body {
    font-family: cursive, serif;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

#navbar-collapse li a:hover {
    background-color: lightcyan;
}
/********** Large devices only **********/
@media (min-width: 992px) {
    #chicken, #beef, #sushi {
        height: 580px;
    }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
    #chicken, #beef, #sushi {
        height: 765px;
    }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
    #chicken, #beef {
        height: 640px;
    }
}

/********** Extra small devices only **********/
@media (max-width: 767px) {

}
